@charset "UTF-8";

.card.product-wap .card .product-overlay {
    background: rgba(0,0,0,.4);
}

.readMore {
    text-align: center;
    
    color: #FDFAEF;
    font-size: 14px !important;
}

.board-text > a {
	color: #B29254 !important;
	font-weight: bold;
}

.board-text>a:hover+.community-detail-sideMenu {
    display: block;
}
/* ------------------------------------------------- */
.common-detail-list > .row {
	padding-top: 7px
}

/* 카드 */
.col-md-4 {
	transition: 0.2s ease-in-out !important;
}

.col-md-4:hover {
	transform: translateY(-7px) !important;
}

/* 속소이름 */
.text-center mb-4 {
    font-weight: bold;
    font-size: 20px !important;
}

.text-start mb-2 {
    font-size: 18px !important;
}

.text-start mb-2:first {
    background: url(./resource_icon/map_icon.png);
}

/* 아이콘 */
.card-body div img {
    margin-bottom: 2.5px;
    display: inline-block;
}
