@charset "UTF-8";

/* 모바일처럼 보이게 할때 */
@media (min-width: 500px) 
{
	.common-list {
		min-width:100%;
	    padding:8px 0px; 
	}
	
	.common-sideMenu {
		width:100%;
	    text-align: center;
	}
}
/* 데스크탑처럼 보이게 할때 */
@media (min-width: 992px) 
{
	.common-list {
		min-width:686px;
	    padding:8px 0px; 
	}
	.common-sideMenu {
		width:250px;
	    text-align: center;
	}
}
@media (min-width: 1200px)
{
	.common-list {
		min-width:846px;
	    padding:8px 0px; 
	}
}

input::placeholder {
    color: gray;
    font-size: 14px;
}

.community-wrap {
    width: 1200px;
    margin: 0 auto;
}

.common-title {
    padding: 30px 0 30px 0;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
}

.common-title > p {
    margin: 0;
    color: #4B4242;
    font-size: 25px;
    font-weight: bold;
}

.community-container {
    margin-top: 35px;
    display: flex;
    gap: 35px;
}

/* 사이드 메뉴 */

.common-sideMenu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.common-sideMenu a:hover {
    color: #B29254;
}

.community-text, .notice-text, .board-text {
    padding: 10px 0 10px 0;
}

.community-text {
    background-color: #B29254;
    color: white;
    font-size: 18px;
    
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.notice-text {
	border-right: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.board-text {
	border: 1px solid #e8e8e8;
    border-top-style: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.notice-text > a, .board-text > a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

/* ---------------------------------------------------- */

.board-text>a:hover+.community-detail-sideMenu {
    display: block;
}

.community-detail-sideMenu:hover {
    display: block;
}

.community-detail-sideMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: none;
}

.community-detail-sideMenu > li {
    padding-top: 10px;
}

.community-detail-sideMenu > li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

/* 검색바 */
.common-search {
    height: 45px;
/*     display: flex; */
/*     position: relative; */
    background-color: #FDFAEF;
    border: 1px solid #e8e8e8;
}

.common-search > div:nth-of-type(1) {
    width: 85px;
    padding-top: 12px;
    margin-left:8px;
    font-size: 14px;
    float:left;
}

.common-search > div:nth-of-type(2) {
    font-size: 14px;
    float:right;
	padding-top:5px;
}

.common-search > div:nth-of-type(2)> div{
    margin-left:8px;
    float:left;
}
.common-search > div:nth-of-type(2)> div:nth-of-type(1) {
    height: 33px;
    box-sizing: content-box;
    display: flex;
    background-color: white;
}
.common-search > div:nth-of-type(2)> div:nth-of-type(1) > select {
    width: 119px;
    height: 33px;
    border: 1px solid #E8E8E8;
    font-size: 14px;
    color: gray;
}


.common-search > div:nth-of-type(2)> div:nth-of-type(2) {
    width: 176px;
    height: 33px;
    border: 1px solid #E8E8E8;
    display: flex;
    background-color: white;
    padding-left: 4px;
}

.common-search > div:nth-of-type(2)> div:nth-of-type(2) > img {
    width: 21px;
    height: 21px;
    margin-top: 6px;
}

.common-search > div:nth-of-type(2)> div:nth-of-type(2) > input {
    width: 149px;
    border-style: none;
    outline: none;
    font-size: 14px;
}

.common-search > div:nth-of-type(2)> div:nth-of-type(3) {
    width: 45px;
}

.common-search > div:nth-of-type(2)> div:nth-of-type(3) > button {
    border: 1px solid #B29254;
    border-radius: 5px;
    height: 33px;
    background-color: #B29254;
    color: white;
    font-size: 13px;
}

.common-search > div > span {
    color: #B29254;
}

/* ---------------------------------------------------- */

/* 테이블 */
.common-detail-list {
    /* border: 1px solid #E8E8E8; */
    margin-top: 25px;
    overflow: auto;
}

tr {
    border: 1px solid #E8E8E8;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-width: 1px;
}

.common-detail-list > table {
    width: 914px;
    font-size: 16px;
    border-collapse: collapse;
    border: 1px solid #E8E8E8;
}

.common-detail-list > table tr:nth-of-type(1) td {
	text-align: center;
}

.common-detail-list > table tr {
    height: 62px;
}

.common-detail-list > table tr td a {
    text-decoration: none;
    color: black;
}

.common-detail-list > table tr td:nth-of-type(1) {
    width: 42.2px;
    text-align: center;
}

.common-detail-list > table tr td:nth-of-type(2) {
    width: 582px;
    text-align: left;
    cursor: pointer;
}

.common-detail-list > table tr td:nth-of-type(3) {
    width: 107px;
    text-align: center;
}

.common-detail-list > table tr td:nth-of-type(4) {
    width: 63.46px;
    text-align: right;
    padding-right: 5px;
}

.common-detail-list > table tr td:nth-of-type(5) {
    width: 120px;
    text-align: center;
}

/* 
.common-detail-list > table tr td img {
	padding-left: 10px;
}
*/

/* ---------------------------------------------------- */

/* 페이징 */
.common-page-number > ul {
    padding: 0;
    margin-top: 18px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 6px;
    text-align: center;
}

.common-page-number > ul li {
    width: 25px;
    height: 29px;
    border: 1px solid #B29254;
    border-radius: 5px;
}

.common-page-number > ul a {
    font-size: 18px;
    color: #B29254;
    text-decoration: none;
}

.common-page-number > ul > li:hover {
    border-width: 2px;
}