@charset "UTF-8";

* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.3px;
    margin: 0;
    padding: 0;
    color: #101010;
}

body {
    background-color: #FFF9E5;
}

a {
	text-decoration: none;
	font-size: 16px;
}

td {
	border:none;
}

.main-box {
    margin: 0 auto;
    width: 750px;
    padding-top: 100px;
}

/* 네비 */
.navi {
    display: flex;
}

.findbyid {
    border: 1px solid #c0c0c0;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #B29254;
    color: #FFF;
    width: 135px;
    height: 45px;
    text-align: center;
    float: left;
    line-height: 40px;
}

.findbypwd {
    border: 1px solid #B29254;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #FFF;
    color: #B29254;
    width: 135px;
    height: 45px;
    text-align: center;
    float: left;
    line-height: 40px;
}

/* 아이디 찾기 테이블 */
th {
width: 130px;
text-align: left;
font-weight: bold;
font-size: 18px;
}

.acc-table {
    color: #cacaca;
    width: 750px;
    height: 400px;
    /* margin-top: 50px; */
    /* margin-left: 100px; */
    /* margin-right: 100px; */
    /* margin-bottom: 100px; */
    border: 1px solid #c0c0c0;
    background-color: #FFF;
    /* display: block; */
}

.acc-table table {
    font-size: 20px;
    margin: 50px auto;
    border-collapse: separate;
    border-spacing: 18px;
}

.user_info_input_tag1 {
    width: 400px;
    height: 40px;
    padding: 7px 20px;
    color: #101010;
    line-height: 1.2em;
    cursor: pointer;
    border: 1px solid #d9d9d9;
}

.user_info_input_tag2 {
    width: 400px;
    height: 40px;
    padding: 7px 20px;
    /* border-radius: 5px; */
    color: #101010;
    line-height: 1.2em;
    cursor: pointer;
    border: 1px solid #d9d9d9;
}

.user_info_input_tag1::placeholder{
    color:#a2a2a2;
}

.user_info_input_tag2::placeholder{
    color:#a2a2a2;
}

.user_info_input_tag1:focus{
    outline: 1px solid #B29254;
}

.user_info_input_tag2:focus{
    outline: 1px solid #B29254;
}

/* 버튼들 */
.paw_btn1 {
    border: 1px solid #B29254;
    background-color: #B29254;
    border-radius: 5px;
    color: #FFF;
    width: 90px;
    height: 40px;
}

.paw_btn2 {
    border: 1px solid #B29254;
    border-radius: 5px;
    background-color: #FFF;
    color: #B29254;
    width: 90px;
    height: 40px;
    font-size: 15px;
}

.acc-table .paw_btn1 {
    width: 174px;
    border: none;
    height: 43px;
    margin-top: 30px;
    font-size: 15px;
}