<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kr.pawpawtrip.trip.model.mapper.TripMapper">
    <!-- 여행 SQL 구문 -->
    <sql id="spotListSql">
		SELECT TRIP_CONTENTID
		     , TRIP_ADDRESS || TRIP_DETAIL_ADDRESS AS TRIP_ADDRESS
		     , TRIP_TITLE
		     , (SELECT S.AREA_NAME FROM AREA S WHERE S.AREA_CODE = AREACODE AND S.SIGUNGU_CODE = 0) AS AREACODE
		     , (SELECT S.AREA_NAME FROM AREA S WHERE S.AREA_CODE = AREACODE AND S.SIGUNGU_CODE = SIGUNGUCODE) AS SIGUNGUCODE
		     , (SELECT S.BIG_CATE_NAME FROM BIGCATEGORY S WHERE S.BIG_CATE_CODE = TRIP_CATEGORY1 )AS TRIP_CATEGORY1
		     , (SELECT S.MID_CATE_NAME FROM MIDCATEGORY S WHERE S.MID_CATE_CODE = TRIP_CATEGORY2 )AS TRIP_CATEGORY2
		     , (SELECT S.SML_CATE_NAME FROM SMLCATEGORY S WHERE S.SML_CATE_CODE = TRIP_CATEGORY3 )AS TRIP_CATEGORY3
		     , CASE TRIP_CONTENTTYPEID WHEN 12 THEN '관광지'
		                               WHEN 14 THEN '문화시설'
		                               WHEN 15 THEN '축제공연행사'
		                               WHEN 25 THEN '여행코스'
		                               WHEN 28 THEN '레포츠'
		                               WHEN 32 THEN '숙박'
		                               WHEN 38 THEN '쇼핑'
		                               WHEN 39 THEN '음식점'
		        END AS TRIP_CONTENTTYPEID
		     , NVL(TRIP_IMAGE, '-') AS TRIP_IMAGE
		     , NVL(TRIP_TEL, '-') AS TRIP_TEL
		     , HOMEPAGE
		     , OVERVIEW
		FROM TRIP
		<!-- WHERE AREACODE = 32 -->
		
		<!--  
        SELECT TRIP_CONTENTID,
               TRIP_ADDRESS,
               TRIP_TITLE,
               AREACODE,
               TRIP_CATEGORY1,
               TRIP_CATEGORY2,
               TRIP_CATEGORY3,
               TRIP_CONTENTTYPEID,
               TRIP_CREATETIME,
               TRIP_MODIFYTIME,
               TRIP_IMAGE,
               MAPX,
               MAPY,
               MAPLEVEL,
               TRIP_TEL,
               SIGUNGUCODE,
               HOMEPAGE,
               OVERVIEW
          FROM TRIP
		-->
    </sql>

    <!-- 숙소 SQL 구문 -->
    <sql id="stayListSql">
        SELECT STAY_CONTENTID,
               STAY_ADDRESS,
               STAY_DETAIL_ADDRESS,
               STAY_TITLE,
               AREACODE,
               STAY_CATEGORY1,
               STAY_CATEGORY2,
               STAY_CATEGORY3,
               STAY_CONTENTTYPEID,
               STAY_CREATETIME,
               STAY_MODIFYTIME,
               STAY_IMAGE,
               MAPX,
               MAPY,
               MAPLEVEL,
               STAY_TEL,
               SIGUNGUCODE,
               HOMEPAGE,
               OVERVIEW
          FROM STAY
    </sql>
    
    
    <!-- 반려동물 동반정보 SQL 구문 -->
    <sql id="petInfoListSql">
        SELECT PETINFO_CONTENTID
             , TOUR_INFO
             , ACMPY_TYPE_CD
             , RELA_POSES_FCLTY
             , RELA_FRNSH_PRDLST
             , RELA_PURC_PRDLST
             , RELA_RNTL_PRDLST
             , ACMPY_PSBL_CPAM
             , ETC_ACMPY_INFO
             , ACMPY_NEED_MTR
          FROM PETINFO
    </sql>
    
    

    <!-- 여행 페이지 ResultMap -->
    <resultMap id="spotListResultMap" type="Spot">
        <!-- 기본키 -->
        <id     property="tripContentId"     column="TRIP_CONTENTID"     />
        <result property="tripAddress"       column="TRIP_ADDRESS"       />
        <result property="tripTitle"         column="TRIP_TITLE"         />
        <result property="areaCode"          column="AREACODE"           />
        <result property="sigunguCode"       column="SIGUNGUCODE"        />
        <result property="tripCategory1"     column="TRIP_CATEGORY1"     />
        <result property="tripCategory2"     column="TRIP_CATEGORY2"     />
        <result property="tripCategory3"     column="TRIP_CATEGORY3"     />
        <result property="tripContentTypeId" column="TRIP_CONTENTTYPEID" />
        <result property="tripImage"         column="TRIP_IMAGE"         />
        <result property="tripTel"           column="TRIP_TEL"           />
        <result property="homepage"          column="HOMEPAGE"           />
        <result property="overview"          column="OVERVIEW"           />
    </resultMap>

    <!-- 숙박 페이지 ResultMap -->
    <resultMap id="stayListResultMap" type="Stay">
        <!-- 기본키 -->
        <id     property="stayContentId"     column="STAY_CONTENTID"     />
        <result property="stayAddress"       column="STAY_ADDRESS"       />
        <result property="stayDetailAddress" column="STAY_DETAIL_ADDRESS"/>
        <result property="stayTitle"         column="STAY_TITLE"         />
        <result property="areaCode"          column="AREACODE"           />
        <result property="stayCategory1"     column="STAY_CATEGORY1"     />
        <result property="stayCategory2"     column="STAY_CATEGORY2"     />
        <result property="stayCategory3"     column="STAY_CATEGORY3"     />
        <result property="stayContentTypeId" column="STAY_CONTENTTYPEID" />
        <result property="stayCreateTime"    column="STAY_CREATETIME"    />
        <result property="stayModifyTime"    column="STAY_MODIFYTIME"    />
        <result property="stayImage"         column="STAY_IMAGE"         />
        <result property="mapX"              column="MAPX"               />
        <result property="mapY"              column="MAPY"               />
        <result property="mapLevel"          column="MAPLEVEL"           />
        <result property="stayTel"           column="STAY_TEL"           />
        <result property="sigunguCode"       column="SIGUNGUCODE"        />
        <result property="homepage"          column="HOMEPAGE"           />
        <result property="overview"          column="OVERVIEW"           />
    </resultMap>

    <!-- 공통컨텐츠 페이지 ResultMap -->
    <resultMap id="commListResultMap" type="Comm">
        <!-- 기본키 -->
        <id     property="commContentId"     column="COMM_CONTENTID"     />
        <result property="commAddress"       column="COMM_ADDRESS"       />
        <result property="commDetailAddress" column="COMM_DETAIL_ADDRESS"/>
        <result property="commTitle"         column="COMM_TITLE"         />
        <result property="areaCode"          column="AREACODE"           />
        <result property="commCategory1"     column="COMM_CATEGORY1"     />
        <result property="commCategory2"     column="COMM_CATEGORY2"     />
        <result property="commCategory3"     column="COMM_CATEGORY3"     />
        <result property="commContentTypeId" column="COMM_CONTENTTYPEID" />
        <result property="commCreateTime"    column="COMM_CREATETIME"    />
        <result property="commModifyTime"    column="COMM_MODIFYTIME"    />
        <result property="commImage"         column="COMM_IMAGE"         />
        <result property="mapX"              column="MAPX"               />
        <result property="mapY"              column="MAPY"               />
        <result property="mapLevel"          column="MAPLEVEL"           />
        <result property="commTel"           column="COMM_TEL"           />
        <result property="sigunguCode"       column="SIGUNGUCODE"        />
        <result property="homepage"          column="HOMEPAGE"           />
        <result property="overview"          column="OVERVIEW"           />
    </resultMap>
    
    <!-- 동물동반정보테이블 ResultMap -->
    <resultMap id="petInfoResultMap" type="PetInfo">
        <!-- 기본키 -->
        <id     property="petinfoContentid"  column="PETINFO_CONTENTID"/>
        <result property="tourInfo"          column="TOUR_INFO"        />
        <result property="acmpyTypeCd"       column="ACMPY_TYPE_CD"    />
        <result property="relaPosesFclty"    column="RELA_POSES_FCLTY" />
        <result property="relaFrnshPrdlst"   column="RELA_FRNSH_PRDLST"/>
        <result property="relaPurcPrdlst"    column="RELA_PURC_PRDLST" />
        <result property="relaRntlPrdlst"    column="RELA_RNTL_PRDLST" />
        <result property="acmpyPsblCpam"     column="ACMPY_PSBL_CPAM"  />
        <result property="etcAcmpyInfo"      column="ETC_ACMPY_INFO"   />
        <result property="acmpyNeedMtr"      column="ACMPY_NEED_MTR"   />
    </resultMap>
	
	<!-- 여행지 게시물 수 조회 -->
	<select id="selectSpotCount" resultType="_int">
		SELECT COUNT(*) FROM TRIP
	</select>
	
    <!-- 여행지 목록 전체 조회 -->
    <select id="selectSpotList" resultMap="spotListResultMap">
        <include refid="spotListSql"/>
        ORDER BY TRIP_CONTENTID ASC
    </select>

    <!-- PetTour IN절조건 조회 -->
    <select id="selectPetInfoByContentId" parameterType="map"  resultMap="petInfoResultMap" >
        <include refid="petInfoListSql"/>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="contentIdList != ''">
            PETINFO_CONTENTID IN
            <foreach collection="contentIdList" item="contentId" index="index" separator="," open="(" close=")">#{contentId}</foreach>
            </if>
        </trim>
    </select>


    <!-- 여행 테이블 등록 -->
    <insert id="insertTrip" parameterType="Spot">
        INSERT
          INTO TRIP
        (
               TRIP_CONTENTID
             , TRIP_ADDRESS
             , TRIP_DETAIL_ADDRESS
             , TRIP_TITLE
             , AREACODE
             , TRIP_CATEGORY1
             , TRIP_CATEGORY2
             , TRIP_CATEGORY3
             , TRIP_CONTENTTYPEID
             , TRIP_CREATETIME
             , TRIP_MODIFYTIME
             , TRIP_IMAGE
             , MAPX
             , MAPY
             , MAPLEVEL
             , TRIP_TEL
             , SIGUNGUCODE
             , HOMEPAGE
             , OVERVIEW
        )
       VALUES
       (
               #{tripContentId}
             , #{tripAddress}
             , #{tripDetailAddress}
             , #{tripTitle}
             , #{areaCode}
             , #{tripCategory1}
             , #{tripCategory2}
             , #{tripCategory3}
             , #{tripContentTypeId}
             , #{tripCreateTime}
             , #{tripModifyTime}
             , #{tripImage}
             , #{mapX}
             , #{mapY}
             , #{mapLevel}
             , #{tripTel}
             , #{sigunguCode}
             , #{homepage}
             , #{overview}
        )
    </insert>

    <!-- 숙소 테이블 등록 -->
    <insert id="insertStay" parameterType="Stay">
        INSERT
          INTO STAY
        (
               STAY_CONTENTID
             , STAY_ADDRESS
             , STAY_DETAIL_ADDRESS
             , STAY_TITLE
             , AREACODE
             , STAY_CATEGORY1
             , STAY_CATEGORY2
             , STAY_CATEGORY3
             , STAY_CONTENTTYPEID
             , STAY_CREATETIME
             , STAY_MODIFYTIME
             , STAY_IMAGE
             , MAPX
             , MAPY
             , MAPLEVEL
             , STAY_TEL
             , SIGUNGUCODE
             , HOMEPAGE
             , OVERVIEW
        )
       VALUES
       (
               #{stayContentId}
             , #{stayAddress}
             , #{stayDetailAddress}
             , #{stayTitle}
             , #{areaCode}
             , #{stayCategory1}
             , #{stayCategory2}
             , #{stayCategory3}
             , #{stayContentTypeId}
             , #{stayCreateTime}
             , #{stayModifyTime}
             , #{stayImage}
             , #{mapX}
             , #{mapY}
             , #{mapLevel}
             , #{stayTel}
             , #{sigunguCode}
             , #{homepage}
             , #{overview}
        )
    </insert>


    <!-- 공통컨텐츠 테이블 등록 -->
    <insert id="insertComm" parameterType="Comm">
        INSERT
          INTO COMM
        (
               COMM_CONTENTID
             , COMM_ADDRESS
             , COMM_DETAIL_ADDRESS
             , COMM_TITLE
             , AREACODE
             , COMM_CATEGORY1
             , COMM_CATEGORY2
             , COMM_CATEGORY3
             , COMM_CONTENTTYPEID
             , COMM_CREATETIME
             , COMM_MODIFYTIME
             , COMM_IMAGE
             , MAPX
             , MAPY
             , MAPLEVEL
             , COMM_TEL
             , SIGUNGUCODE
             , HOMEPAGE
             , OVERVIEW
        )
       VALUES
       (
               #{commContentId}
             , #{commAddress}
             , #{commDetailAddress}
             , #{commTitle}
             , #{areaCode}
             , #{commCategory1}
             , #{commCategory2}
             , #{commCategory3}
             , #{commContentTypeId}
             , #{commCreateTime}
             , #{commModifyTime}
             , #{commImage}
             , #{mapX}
             , #{mapY}
             , #{mapLevel}
             , #{commTel}
             , #{sigunguCode}
             , #{homepage}
             , #{overview}
        )
    </insert>


    <!-- petTourInfo 테이블 등록 -->
    <insert id="insertPetInfo" parameterType="PetInfo">
        INSERT
          INTO PETINFO
        (
               PETINFO_CONTENTID
             , TOUR_INFO
             , ACMPY_TYPE_CD
             , RELA_POSES_FCLTY
             , RELA_FRNSH_PRDLST
             , RELA_PURC_PRDLST
             , RELA_RNTL_PRDLST
             , ACMPY_PSBL_CPAM
             , ETC_ACMPY_INFO
             , ACMPY_NEED_MTR
        )
        VALUES
        (
               #{petinfoContentid}
             , #{tourInfo}
             , #{acmpyTypeCd}
             , #{relaPosesFclty}
             , #{relaFrnshPrdlst}
             , #{relaPurcPrdlst}
             , #{relaRntlPrdlst}
             , #{acmpyPsblCpam}
             , #{etcAcmpyInfo}
             , #{acmpyNeedMtr}
        )
    </insert>
</mapper>